#contenedor{
    position: absolute;
    left: 50%;
    margin-left: -40%;
    width: 80%;
}

#cabecera{
    padding: 15px;
}

#navlist li{
    display: inline;
    list-style-type: none;
}

#lateral{
    float: left;
    width: 25%;
    padding: 5px;
    box-sizing: border-box;
    min-height: 500px;
}

#principal{
    float: left;
    width:75%;
    padding: 5px;
    box-sizing: border-box;
    min-height: 500px;
}

.menu tr td{
    text-align: center;
}

.boton{
    background: #142FFB;
    color: #FFFFFF;
    height: 29px;
    width: 80px;
}